.corpo {
    padding-top: 100px;
    color: white;
    display: block;
    
    
}
.link {
  padding-left:100px;
}
    
  
  @media (max-width: 800px) {
    .corpo {
      padding-top: 50px;
    }
  

}